.collapseContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.toggleBar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 0 6px;
    cursor: pointer;
}

.collapseTitle {
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    margin: 0;
    line-height: 50px;
}

.collapseText  {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 200;
    color: #FF6060;
    background-color:#F6F6F6;
    border-radius: 0 0 5px 5px;
    line-height: 30px;
    padding: 15px 10px;
    margin: 0;
}

.fa-solid {
    color: white;
}

.chevron {
    line-height: 50px;
    font-size: 18px;
}

.aboutCollapsesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 31px;
    margin: 50px 10%;
    list-style: none;
}