$main-color:#FF6060;

.accom {
    margin: 0 10%;
    @media only screen and (max-width: 767px) {
        margin: 10px 4%;
    }

    &__carousel {
        position: relative;
        width: 100%;
        margin: auto;

        &__image {
            width: 100%;
            aspect-ratio: 3/1;
            object-fit: cover;
            margin: auto;
            border-radius: 25px;
            @media only screen and (max-width: 767px) {
                aspect-ratio: 1.3/1;
                border-radius: 10px;
            }
        }

        &__arrows {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            button {
                background: none;
                border: none;
            }

            #leftArrow, #rightArrow {
                color: white;
                font-size: 79px;
                padding: 0 2%;
                cursor: pointer;
                @media only screen and (max-width: 767px) {
                    font-size: 30px;
                }
            }
        }
    }

    &__mainDatas {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            margin-top: 15px;
        }

        .leftContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

        }

        .rightContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column; 
            
            @media only screen and (max-width: 767px) {
                flex-direction: row-reverse;
                margin: 10px 0 0 0 ;
            }
        }

        &__containers {
            width: 100%;

            h2 {
                font-family: 'Montserrat';
                font-size: 36px;
                font-weight: 400;
                color: $main-color;
                margin: 0;
                @media only screen and (max-width: 767px) {
                    font-size: 18px;
                }
            }

            address {
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 400;
                color: $main-color;
                line-height: 26px;
                font-style: normal;
                margin-bottom: 20px;
                @media only screen and (max-width: 767px) {
                    font-size: 14px;
                    margin: 12px 0;
                }
            }

            &__tags {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 0;
                list-style: none;
                margin: 0;
                flex-wrap: wrap;

                &--style {
                    color:$main-color;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 300;
                    color: white;
                    background-color: $main-color;
                    border-radius: 10px;
                    padding: 6px 30px;
                    margin: 0 10px 12px 0;
                    
                    @media only screen and (max-width: 767px) {
                        margin: 0 10px 12px 0;
                    }
                }
            }

            &__host {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: 0;
                column-gap: 3%;
            
                &__name {
                    height: auto;
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: 400;
                    color: $main-color;
                    margin: 0;
                    @media only screen and (max-width: 767px) {
                        font-size: 12px;
                        text-align: right;
                        padding-right: 6%;
                    }
                }
            
                &__image {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    @media only screen and (max-width: 767px) {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
    
    &__collapses {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 5%;
        margin-top: 35px;
    
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            margin-top: 20px;
            row-gap: 25px;
        }
    }
}
