.accom {
    margin: 50px 10%;

    &__carousel {
        position: relative;
        width: 100%;
        margin: auto;

        &__image {
            width: 100%;
            aspect-ratio: 3/1;
            object-fit: cover;
            margin: auto;
            border-radius: 25px;
        }

        &__arrows {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            button {
                background: none;
                border: none;
            }

            #leftArrow, #rightArrow {
                color: white;
                font-size: 79px;
                padding: 0 2%;
                cursor: pointer;
            }
        }
    }

    &__mainDatas {
        height: 115px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        &__containers {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-family: 'Montserrat';
                font-size: 36px;
                font-weight: 500;
                color: #FF6060;
                margin: 0;
                line-height: 50px;
            }

            address {
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 500;
                color: #FF6060;
                line-height: 26px;
                font-style: normal;
            }

            &__tags {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 0;
                list-style: none;
                margin: 0;

                &--style {
                    color:#FF6060;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 400;
                    color: white;
                    background-color: #FF6060;
                    border-radius: 10px;
                    padding: 6px 30px;
                    margin: 0 10px 0 0;
                }
            }

            &__host {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: 0;
            
                &__name {
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: 500;
                    color: #FF6060;
                    margin: 0;
                }
            
                &__image {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }

            &__stars {
                text-align: right;
            
                &--full {
                    color: #FF6060;
                    font-size: 24px;
                    margin: 0 1%;
                }
            
                &--remaining {
                    color: #E3E3E3;
                    font-size: 24px;
                    margin: 0 1%;
                }
            }
        }
    }
    
    &__collapses {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 5%;
        margin-top: 50px;
    }
}
