.error {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    &__404 {
        margin: 150px auto 40px;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 288px;
        color: #FF6060;
        font-weight: 700;

        @media only screen and (max-width: 767px){
            margin: 115px auto 5px;
            font-size: 96px;
        }
    }

    &__message {
        margin: 0 auto 215px;
        padding: 0 40px;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 36px;
        color: #FF6060;

        @media only screen and (max-width: 767px){
            font-size: 18px;
            margin: 0 auto 133px;
        }
    }

    &__link {
        width:100%;
        display: block;
        text-decoration: none;
        margin: auto;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 18px;
        color: #FF6060;
        cursor: pointer;

        @media only screen and (max-width: 767px){
            font-size: 14px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}